{% extends 'base.html.twig' %}

{% block title %}Editar
	{{ home.title }}
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden">
		<div id="home-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">Editar:<br>
					{{ home.title }}</h1>
			</div>
			<div class="p-4 text-justify">
				{{ include('home/_form.html.twig') }}
				{% if home.image %}
					<div class="d-flex justify-content-center">
						<div style="max-width: 400px; max-height: 400px; overflow: hidden;">
							<img src="{{ asset('images/home/' ~ home.image) }}" alt="{{ home.image }}" style="width: 100%; height: 100%;object-fit: cover;" class="rounded">
						</div>
					</div>
					{% if app.session.get('user_id') is not null %}
						{% if app.session.get('is_admin') %}
							<form method="post" action="{{ path('home_delete_image', {'id': home.id}) }}" id="delete-image-form" class="mt-2">
								<input type="hidden" name="_token" value="{{ csrf_token('delete_image' ~ home.id) }}">
								<div class="d-flex justify-content-end">
									<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
										<i class="fas fa-times-circle"></i>
										<i class="fas fa-image"></i>
										Borrar imagen
									</button>
								</div>
							</form>
						{% endif %}
					{% endif %}
				{% endif %}
				<hr class="text-secondary">
				<div class="d-flex align-items-center gap-2">
					<a href="/" class="back-list-button py-2 px-3 rounded text-white">
						<i class="fas fa-arrow-left"></i>
						Volver
					</a>
					{% if app.session.get('user_id') is not null %}
						{% if app.session.get('is_admin') %}
							{{ include('home/_delete_form.html.twig') }}
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</main>
	 <script>
				document.getElementById('confirm-delete-button').addEventListener('click', function () {
				    document.getElementById('delete-image-form').submit();
				});
				</script>
{% endblock %}
