<footer class="py-4">
	<div id="footer-brands" class="d-flex justify-content-evenly align-items-center">
		<a href="https://www.juntadeandalucia.es/educacion/secretariavirtual/" target="_blank"><img id="secretaria-virtual-img" src="{{ asset('images/footer/secretaria_virtual.jpg') }}" alt="Secretaria Virtual" class="rounded"/></a>
		<a href="https://www.youtube.com/watch?v=p8bqMdBsLd4&t=28s&ab_channel=MaestroMallo" target="_blank"><img id="matriculacion-iande-img" src="{{ asset('images/footer/matriculacion_iande.jpg') }}" alt="Matriculación Iande" class="rounded"/></a>
		<a href="https://seneca.juntadeandalucia.es/seneca/jsp/portalpasen/" target="_blank"><img id="ipasen-img" src="{{ asset('images/footer/ipasen.jpg') }}" alt="iPasen" class="rounded"/></a>
		<a href="https://www.juntadeandalucia.es/educacion/portales/es/web/escolarizacion" target="_blank"><img id="escolarizacion-matricula-img" src="{{ asset('images/footer/escolarizacion_matricula.jpg') }}" alt="Escolarización y Matrícula" class="rounded"/></a>
		<a href="https://educacionadistancia.juntadeandalucia.es/centros/malaga/login" target="_blank"><img id="moodle-img" src="{{ asset('images/footer/moodle.jpg') }}" alt="Moodle" class="rounded"/></a>
	</div>
	<hr class="footer-hr">
	<div class="text-center m-0 mt-3">
		Made By:
		<i class="fab fa-github"></i>
		<a href="https://github.com/JuanmaBenitez73" target="_blank" class="text-light">
			<b>Juanma Benítez</b>
		</a>
		<i class="fab fa-github"></i>
		<a href="https://github.com/AntonioGuillen123" target="_blank" class="text-light">
			<b>Antonio Guillén</b>
		</a>
	</div>
</footer>