<nav class="p-4">
	<div class="d-flex align-items-center justify-content-between nav-content">
		<a href="{{ path('app_home') }}" class="ms-2"><img id="nav-img" class="rounded" src="{{ asset('images/logo.jpg') }}" alt="I.E.S. Salduba"/></a>
		<div class="d-flex flex-column align-items-center">
			<div>
				<a href="{{ path('app_home') }}" class="text-decoration-none">
					<h1 class="title nav-title text-light text-center">I.E.S Benítez Sánchez</h1>
				</a>
			</div>
			<div id="menu-container" class="navbar navbar-expand-lg justify-content-center">
				<div class="d-grid menu-content">
					<div class="navbar-item-1">
						<button class="p-2 ms-3 border-0 rounded dropdown-toggle dropdownButton fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Centro
						</button>
						<ul class="dropdown-menu dropdown-container mt-2">
							<li>
								<a href="{{ path('app_organization_chart_index') }}" class="dropdown-item">Organigrama</a>
							</li>
							<li>
								<a href="{{ path('app_location') }}" class="dropdown-item">Localización</a>
							</li>
							<li>
								<a href="{{ path('app_educative_offer_index') }}" class="dropdown-item">Oferta educativa</a>
							</li>
							<li>
								<a href="{{ path('app_school_plan_index') }}" class="dropdown-item">Plan de Centro</a>
							</li>
							<li>
								<a href="{{ path('app_educative_plan_program') }}" class="dropdown-item">Planes y Programas Educativos</a>
							</li>
							<li>
								<a href="https://www.juntadeandalucia.es/educacion/secretariavirtual/" target="_blank" class="dropdown-item">Secretaría Virtual</a>
							</li>
							<li>
								<a href="{{ path('app_contact') }}" class="dropdown-item">Contacto</a>
							</li>
						</ul>
					</div>
					<div class="navbar-item-2">
						<button class="p-2 ms-3 border-0 rounded dropdown-toggle dropdownButton fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Secretaría
						</button>
						<ul class="dropdown-menu dropdown-container mt-2">
							<li>
								<a href="{{ path('app_second_bach_info') }}" class="dropdown-item">Información para 2º Bachillerato</a>
							</li>
							<li>
								<a href="{{ path('app_fp_info') }}" class="dropdown-item">Información para FP</a>
							</li>
							<li>
								<a href="{{ path('app_schooling_info') }}" class="dropdown-item">Información sobre escolarización</a>
							</li>
						</ul>
					</div>
					<div class="navbar-item-3">
						<button class="p-2 ms-3 border-0 rounded dropdown-toggle dropdownButton fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Biblioteca
						</button>
						<ul class="dropdown-menu dropdown-container mt-2">
							<li>
								<a href="{{ path('app_library') }}" class="dropdown-item">Funcionamiento</a>
							</li>
							<li>
								<a href="https://www.juntadeandalucia.es/educacion/senecav2/seneca/biblioweb/portal/29011540" target="_blank" class="dropdown-item">BiblioWeb</a>
							</li>
							<li>
								<a href="{{ path('app_library_blogs') }}" class="dropdown-item">Enlaces a blogs de biblioteca</a>
							</li>
						</ul>
					</div>
					<div class="navbar-item-4">
						<button class="p-2 ms-3 border-0 rounded dropdown-toggle dropdownButton fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							DACE
						</button>
						<ul class="dropdown-menu dropdown-container mt-2">
							<li>
								<a href="{{ path('app_DACE_info') }}" class="dropdown-item">Información del DACE</a>
							</li>
							<li>
								<a href="{{ path('app_contact_DACE') }}" class="dropdown-item">Contacto DACE</a>
							</li>
						</ul>
					</div>
					<div class="navbar-item-5">
						<button class="p-2 ms-3 border-0 rounded dropdown-toggle dropdownButton fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Alumnos
						</button>
						<ul class="dropdown-menu dropdown-container mt-2">
							<li>
								<a href="https://view.genially.com/5f9bdd588519011e966a22e4/presentation-asesoria-academica-ies-salduba" target="_blank" class="dropdown-item">Asesoría académica</a>
							</li>
							<li>
								<a href="{{ path('app_second_bach_info') }}" class="dropdown-item">Información para 2º Bachillerato</a>
							</li>
							<li>
								<a href="{{ path('app_fp_info') }}" class="dropdown-item">Información para FP</a>
							</li>
							<li>
								<a href="{{ path('app_info_students') }}" class="dropdown-item">Información para alumnos con materias pendientes</a>
							</li>
						</ul>
					</div>
					<div class="navbar-item-6">
						<button class="p-2 ms-3 border-0 rounded dropdown-toggle dropdownButton fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							AMPA
						</button>
						<ul class="dropdown-menu dropdown-container mt-2">
							<li>
								<a href="{{ path('app_info_AMPA') }}" class="dropdown-item">Información AMPA</a>
							</li>
							<li>
								<a href="{{ path('app_contact_AMPA') }}" class="dropdown-item">Contacto AMPA</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="info" class="fs-xs text-light text-end d-flex flex-column">
			{% if app.session.get('user_id') is not null %}
				<div class="text-center text-white mt-3">
					<p class="fw-semibold fs-5 mb-0">Bienvenido,
						<span class="text-info fst-italic fw-bold">
							{{ app.session.get('username') }}
						</span>!
					</p>

					{% if app.session.get('is_admin') %}
						<p class="text-light small fw-bold">Eres administrador</p>
					{% else %}
						<p class="text-light small fw-bold">Eres editor</p>
					{% endif %}

					<a href="{{ path('app_logout') }}" class="btn btn-dark border-light w-100">
						<i class="fas fa-sign-out-alt"></i>
						Cerrar sesión
					</a>
				</div>
			{% else %}
				<form method="post" action="{{ path('app_login') }}" class="mt-1">
					<div class="mb-2">
						<input type="text" name="_username" placeholder="Usuario" class="form-control form-control-sm" required>
					</div>
					<div class="mb-2">
						<input type="password" name="_password" placeholder="Contraseña" class="form-control form-control-sm" required>
					</div>
					<button type="submit" class="btn btn-dark border-light w-100">
						<i class="fa-solid fa-right-to-bracket"></i>
						Iniciar sesión
					</button>
				</form>
			{% endif %}
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label == 'error' ? 'danger' : label }} alert-dismissible fade show m-0 text-center">
						<b>{{ message }}</b>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
</nav>
