{% extends 'base.html.twig' %}

{% block title %}Proyecto Educativo
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden">
		<div id="educative-proyect-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">I.E.S. Salduba - Proyecto Educativo</h1>
			</div>
			<div>
				<h4 class="text-center">Proyecto Educativo 2023/2024</h4>
			</div>
			<div class="d-flex flex-column align-items-start">
				<hr class="info-hr">
				<p class="mt-3 ms-3">
					<i class="fa-solid fa-file-pdf" style="color: #FF0000;"></i>
					<a href="{{ asset('pdf/educative_proyect/1-Proyecto_Educativo_2023-2024_con_modificaciones_de_10-04-2024.pdf') }}" class="text-dark ms-1 fw-bold" target="_blank">Proyecto Educativo 2023-2024 con modificaciones de 10/04/2024</a>
				</p>
				<hr class="info-hr">
				<p class="mt-3 ms-3">
					<i class="fa-solid fa-file-pdf" style="color: #FF0000;"></i>
					<a href="{{ asset('pdf/educative_proyect/2-Anexo_VI_actas_de_evaluaci贸n.pdf') }}" class="text-dark ms-1 fw-bold" target="_blank">Anexo VI actas de evaluaci贸n</a>
				</p>
				<hr class="info-hr">
				<p class="mt-3 ms-3">
					<i class="fa-solid fa-file-pdf" style="color: #FF0000;"></i>
					<a href="{{ asset('pdf/educative_proyect/3-Anexo_V_Plan_Actuaci贸n_Digital_23-24.pdf') }}" class="text-dark ms-1 fw-bold" target="_blank">Anexo V Plan Actuaci贸n Digital 23/24</a>
				</p>
				<hr class="info-hr">
				<p class="mt-3 ms-3">
					<i class="fa-solid fa-file-pdf" style="color: #FF0000;"></i>
					<a href="{{ asset('pdf/educative_proyect/4-Anexo_III_Plan_Biblioteca_23-24.pdf') }}" class="text-dark ms-1 fw-bold" target="_blank">Anexo III Plan Biblioteca 23/24</a>
				</p>
				<hr class="info-hr">
				<p class="mt-3 ms-3">
					<i class="fa-solid fa-file-pdf" style="color: #FF0000;"></i>
					<a href="{{ asset('pdf/educative_proyect/5-Anexo_IV_Plan_de_mejora_23-24.pdf') }}" class="text-dark ms-1 fw-bold" target="_blank">Anexo IV Plan de mejora 23/24</a>
				</p>
				<hr class="info-hr">
				<p class="mt-3 ms-3">
					<i class="fa-solid fa-file-pdf" style="color: #FF0000;"></i>
					<a href="{{ asset('pdf/educative_proyect/6-Anexo_I_Plan_Igualdad_23-24.pdf') }}" class="text-dark ms-1 fw-bold" target="_blank">Anexo I Plan Igualdad 23/24</a>
				</p>
				<hr class="info-hr">
				<p class="mt-3 ms-3">
					<i class="fa-solid fa-file-pdf" style="color: #FF0000;"></i>
					<a href="{{ asset('pdf/educative_proyect/7-Anexo_II_Plan_de_lectura_23-24.pdf') }}" class="text-dark ms-1 fw-bold" target="_blank">Anexo II Plan de lectura 23/24</a>
				</p>
				<hr class="info-hr">
				<p class="mt-3 ms-3">
					<i class="fa-solid fa-file-pdf" style="color: #FF0000;"></i>
					<a href="{{ asset('pdf/educative_proyect/8-Proyecto_Educativo_2023-2024.pdf') }}" class="text-dark ms-1 fw-bold" target="_blank">Proyecto Educativo 2023/2024</a>
				</p>
				<hr class="info-hr">
				<p class="mt-3 ms-3">
					<i class="fa-solid fa-file-pdf" style="color: #FF0000;"></i>
					<a href="{{ asset('pdf/educative_proyect/9-PROYECTO_EDUCATIVO_2022-2023.pdf') }}" class="text-dark ms-1 fw-bold" target="_blank">PROYECTO EDUCATIVO 2022/2023</a>
				</p>
				<hr class="info-hr">
				<p class="mt-3 ms-3">
					<i class="fa-solid fa-file-pdf" style="color: #FF0000;"></i>
					<a href="{{ asset('pdf/educative_proyect/10-ANEXO_IV_PLAN_DE_MEJORA_DEL_CURSO_2022-2023.pdf') }}" class="text-dark ms-1 fw-bold" target="_blank">ANEXO IV PLAN DE MEJORA DEL CURSO 2022/2023</a>
				</p>
				<hr class="info-hr">
			</div>
		</div>
	</main>
{% endblock %}
